.App {
  text-align: center;
}
.index {
  display: flex;
  position: absolute;
  width: fit-content;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  gap: 20px;
  /* text-align: center; */
  /* vertical-align: middle; */
}
.index > div {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: -7px;
  font-size: 14px;
}
.default {
  color: #fff;
}
